@import 'fonts.styl'
@import 'my_reset.styl'

main__color = rgba(0, 112, 165, 1)
top-line__bg-color =  rgba(0, 0, 0, 0.15)
service__color = rgba(0, 112, 165, 0.07)
service__color--hover = rgba(0, 112, 165, 0.03)
best-tariff__text-title = #ae4c1c
best-tariff__text = white
best-tariff__bg = rgba(0, 0, 0, 0.85)
vertical-lines = rgba(112, 112, 112, 0.3)
vertical-lines__block-phone = rgba(250, 250, 250, 0.2)
moving-string__color = rgba(112, 112, 112, 0.8)
decor-border__block-phone = black

@keyframes cursor-blinking
  0%
    opacity 1
  50%
    opacity 0
  100%
    opacity 1

html
  scroll-behavior smooth

.btn
  height 50px
  min-width 150px
  cursor pointer
  padding 12px 60px 12px 40px
  transition all .3s ease
  border-radius: 36px
  color black
  font-weight 800
  display flex
  justify-content center
  align-items center
  font-size 14px
  &__ref
    position relative
  &__arrow
    position absolute
    right -25px
    top 15%
  & svg
    transition all .3s ease

.section
  &-wrapper
    padding 80px 0
    display flex
    align-items center
    justify-content center
    flex-direction column
    max-width 1200px
  &__title-wrapper      //обертка оглавления блоков(услуг, тарифов)
    display flex
    align-items center
    flex-direction column
  &__subtitle
    margin-bottom 15px
    font-size 18px
    font-weight 800
    text-transform uppercase
    color main__color
  &__title
    margin-bottom 15px
    font-size 48px
    line-height 48px
  &__description
    margin-bottom 35px
    font-size 14px

// секция contact
.contacts
  display flex
  justify-content center
  &__wrapper
    width 1200px
    display flex
    justify-content flex-start
    padding 10px 0
    font-size 14px
  &__item
    margin-left 20px
    margin-right 50px
    position relative
    &:before
      content ""
      position absolute
      top 3px
      width 18px
      height 18px
      background-size contain
      background-repeat no-repeat
  &__telegram
    &:before
      left -28px
      background-image url("../img/contacts/icon_tl.png")
  &__whatsapp
    &:before
      left -25px
      background-image url("../img/contacts/icon_wa.png")
  &__adress
    &:before
      left -20px
      width 22px
      height 22px
      top 1px
      background-image url("../img/contacts/icon_map.png")


.vertical-lines
  &__wrapper
    position absolute
    height 100%
    width 100%
    display flex
    justify-content center
  &__center
    height 100%
    width 1200px
    display flex
    justify-content space-between
  &__item
    z-index 10
    height 100%
    width 1px
    background vertical-lines

.moving-string
  position relative
  width 1200px
  &__text
    position absolute
    padding 50px 5px
    font-weight 700
    font-size 140px
    line-height 1em
    color moving-string__color
    bottom 0
    right 100%
    opacity 0

// секция блока HEADER
.header
  display flex
  justify-content space-between
  height 100vh
  align-items center
  flex-direction column
  position relative
  overflow hidden
  &:after
    content ''
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background rgba(30, 30, 30, 0.70)
    z-index 9
  & .top-line     //-------------------- Часть header   ---- БЛОК
    width 100%
    display flex
    justify-content center
    background top-line__bg-color
    color white
    z-index 10
    &__wrapper
      width 1200px
      display flex
      justify-content space-between
      align-items center
      padding 20px 0
  & .logo       //---- БЛОК
    width 169px
    height 54px
    cursor default
    padding-top 10px
    padding-left 10px
    &__line1
      text-transform uppercase
      color white
      font-size 32px
      font-weight 800
    &__line2
      color main__color
      font-size 12px
      margin-top -5px
      font-weight 500
  & .nav       //---- БЛОК
    font-size 16px
    font-weight 800
    text-transform uppercase
    &__list
      display flex
      justify-content center
    &__item
      margin-right 30px
      position relative
      transition all .3s ease
      &:after
        content ''
        position absolute
        top 9px
        right -15px
        width 7px
        height 7px
        transform rotate(45deg)
        border-top 2px solid white
        border-right 2px solid white
        transition all .3s ease
      &:hover
        color main__color
        &:after
          transform rotate(135deg)
          border-color main__color
  &__slide-1
    background url('../img/header/slide_1.jpg')
  &__slide-2
    background url('../img/header/slide_2.jpg')
  &__slide-3
    background url('../img/header/slide_3.jpg')
  &__slide
    position absolute
    width 100%
    height 100%
    transform scale(1.2)
    z-index 4
    opacity 0
    background-size: cover
    background-repeat no-repeat
    &--active-main
      transform scale(1)
      transition transform 10s linear, opacity 0.8s ease 0s
      opacity 1
      z-index 6
    &--active-bg
      transform scale(1)
      transition transform 10s linear, opacity 0.8s ease 0s
      opacity 1
      z-index 5
  &__base     //-------------------- Часть header
    display flex
    justify-content space-between
    align-items center
    width 1200px
    z-index 10
  &__vertical-text
    padding 150px 0 150px 0
    writing-mode vertical-lr
    transform rotate(180deg)
    color white
    font-weight 700
    text-transform uppercase
    position relative
    & span
      color main__color
    &:before
      content ''
      position absolute
      top 0
      left 15px
      width 2px
      height 100px
      background main__color
  &__content
    display flex
    flex-direction column
    align-items center
    padding-top 50px
  &__title-wrapper
    max-width 900px
    min-height 80px
    font-size 56px
    color white
    line-height 1.3em
    text-align center
  &__title
    position relative
  &__running-text2-js
    color main__color
  &__cursor--blinking
    display inline-block
    position absolute
    animation ease 0.7s cursor-blinking infinite
  &__subtitle
    max-width 470px
    text-align center
    color white
    margin-top 30px
    line-height 22px
    padding-left 10px
  &__social-net
    padding-top 40px
    padding-right 10px
    &-item
      width 20px
      margin-bottom 50px
      transition all .3s ease
      cursor pointer
      display block
      &:hover
        transform scale(1.2)
  &__details-btn
    color white
    font-size 18px
    font-weight 800
    padding 120px 80px 80px 0
    position relative
    & a
      position relative
      &:after
        content ''
        position absolute
        right -55px
        top 2px
        width 15px
        height 15px
        transform rotate(45deg)
        border-top 5px solid black
        border-right 5px solid black
        border-radius 20%
      &:before
        content ''
        position absolute
        width 60px
        height 60px
        top -20px
        right -80px
        border-radius 50%
        background main__color
        transition all .3s ease
    &:hover
      & a:before
        background white
  &__bullets     //-------------------- Часть header
    display flex
    justify-content center
    align-items center
    padding 0 0 100px 0
    z-index 10
    &-item
      width 14px
      height 14px
      background main__color
      border-radius 50%
      margin 0 20px
      cursor pointer
      transition all .3s ease
      &--active
        transform scale(0.7)
        background white

// секция блока телефона с промо фразой
.block-phone
  width 100%
  height 250px
  //background main__color
  //background url("../img/block-phone/phone-bg.png") 50% 100%
  background url("../img/block-phone/phone-bg.png") 50% 50%, main__color
  background-size 200px auto
  background-repeat no-repeat
  display flex
  justify-content center
  //align-items center
  position relative
  z-index 20
  & .section-wrapper
    width 100%
    flex-direction row
    padding 0
  & .vertical-lines__item
    border-left 1px solid vertical-lines__block-phone
    &:last-child
      border-right 1px solid vertical-lines__block-phone
  &__frame-left, &__frame-right
    width 48%
    height 100%
    padding 10px 0
    display flex
    justify-content center
    align-items center
    position relative
    &:before, &:after
      content ""
      position absolute
      width 45px
      height 45px
  &__frame-left
    &:before, &:after               // Для декора справа
      right 0
      border-right 4px solid decor-border__block-phone
    &:before
      top 15%
      border-top 4px solid decor-border__block-phone
    &:after
      bottom 15%
      border-bottom 4px solid decor-border__block-phone
  &__frame-right
    &:before, &:after               // Для декора слева
      left 0
      border-left 4px solid decor-border__block-phone
    &:before
      top 15%
      border-top 4px solid decor-border__block-phone
    &:after
      bottom 15%
      border-bottom 4px solid decor-border__block-phone
  &__promo                          // Слоган в блоке телефона
    width 500px
    margin-right 30px
    display block
    text-align center
    font-size 30px
    line-height 48px
    font-weight 800
    color black
    padding-left 40px
  &__number                          // Номер телефона
    font-size 60px
    color #ffffff

// секция услуг
.services
  display flex
  justify-content center
  &__items-wrapper      //обертка самих услуг блока услуги
    display flex
    align-content center
    flex-wrap wrap
    justify-content space-between
    margin-bottom 30px
  &__item
    margin 0 15px 30px 15px
  &__contract-btn
    & svg
      fill rgba(0, 112, 165, 1)
    &:hover
      background black
      color white
  & .service
    //width 370px
    //min-height 298px
    //background service__color
    //border-radius 16px
    transition transform 0.2s ease
    perspective 1000px
    transform-style preserve-3d
    //&__wrapper-outer
    //  perspective 1000px
    //  transform-style preserve-3d
    &__wrapper-interior
      width 370px
      min-height 298px
      background service__color
      border-radius 16px
      //height 100%
      display flex
      align-items center
      flex-direction column
      padding 35px 45px
      position relative
      &:after
        content ''
        top 0
        left 0
        width 100%
        height 100%
        z-index 100
        position absolute
    &__img img
      width 76px
      height 80px
      object-fit scale-down
      transition all .3s ease
    &__img--tourist img
      width 90px
    &__title
      margin-top 20px
      margin-bottom 10px
      font-size 24px
      font-weight 800
      text-align center
    &__description
      line-height 1.6em
      text-align center
      transition all .3s ease
    //&:hover
    //  background service__color--hover
    //&:hover .service__img img
    //  transform scale(1.1)

// секция преимуществ
.advantages
  display flex
  flex-direction column
  align-items center
  background url('../img/advantages/bg-dark.jpg') no-repeat
  background-attachment fixed
  background-size cover
  position relative
  &__wrapper
    //background url('../img/advantages/guard.webp') 50% 100% no-repeat
    display flex
    justify-content space-between
    flex-direction row
    padding-bottom 150px
    padding-left 10px
    padding-right 10px
    z-index 20
  &__part
    width 30%
  &__about
    display flex
    flex-direction column
    justify-content flex-start
  &__title
    font-size 30px
    font-weight 800
    line-height 1.3em
    color white
  &__company-name
    font-size 30px
    font-weight 800
    color main__color
    text-transform uppercase
    line-height 1.3em
    margin-top 10px
  &__description
    font-size 18px
    font-weight 800
    margin-top 20px
    margin-bottom 40px
    color white
  &__how-much-btn
    justify-content flex-start
    background main__color
    align-self flex-start
    &:hover
      background white
  & .merit
    &__title
      font-size 24px
      font-weight 800
      line-height 1.3em
      color main__color
    &__img
      border-radius 16px
      margin-bottom 15px
      position relative
      object-fit: fill
      & img
        border-radius 16px
      &:after
        content ''
        position absolute
        width 80%
        height 3px
        bottom -2px
        left 10%
        background main__color

// секция отчета
.report
  height 200px
  display flex
  justify-content center
  align-items center
  background main__color
  &__item
    width 33%
    height 100%
    background main__color
    display flex
    flex-direction column
    align-items center
    justify-content center
    position relative
    &:before
      content ''
      position absolute
      width 100%
      height 100%
      background linear-gradient(to right,rgba(0,0,0,0) 0%,rgba(0,0,0,.05) 100%)
  &__number
    font-size 72px
    line-height 1em
    color white
    font-weight 800
  &__title
    margin-top 10px
    font-size 16px
    line-height 22px

// секция тарифов
.tariffs
  display flex
  justify-content center
  &__items-wrapper
    width 1200px
    display flex
    align-items stretch
    justify-content space-evenly
    margin-bottom 30px
  &__item
    margin 0 15px
  & .tariff
    display flex
    align-items center
    flex-direction column
    padding 45px 35px 45px
    background service__color
    border-radius 16px
    &__title
      font-size 18px
      font-weight 800
      color main__color
    &__price
      margin-top 8px
      margin-bottom 35px
    &__currency
      font-size 30px
      font-weight 800
    &__value
      font-size 48px
      font-weight 800
    &__list-services
      margin-bottom 20px
    &__service
      font-size 14px
      &--uncheck, &--check
        position relative
        &:before
          content ''
          position absolute
          left -30px
          top 20%
      &--uncheck:before
        width 15px
        height 15px
        background url('../img/tariffs/icon-uncheck.svg') 50% 50% no-repeat
      &--check:before
        width 15px
        height 15px
        background url('../img/tariffs/icon-check.svg') 50% 50% no-repeat
    &__contract-btn
      margin 25px 20px 0 20px
      background main__color
      & svg
        fill black
      &:hover
        background black
        color white
      &:hover svg
        fill white
.best-tariff
  &.tariff
    background url("../img/tariffs/best-tariff-bg.png") 50% 50% no-repeat best-tariff__bg
  & .tariff
    &__title
      color best-tariff__text-title
    &__currency
      color best-tariff__text
      font-size 48px
    &__value
      color best-tariff__text
      font-size 72px
    &__list-services
      color best-tariff__text
    &__contract-btn
      background best-tariff__text-title
      color best-tariff__text
      & svg
        fill best-tariff__text
      &:hover
        background white
        color black
      &:hover svg
        fill black

// секция ФОС
.feedback
  background url('../img/feedback/bg-dark.jpg') no-repeat
  background-attachment fixed
  background-size cover
  display flex
  justify-content center
  color white
  position relative
  & .section-wrapper
    width: 1200px
    padding-top 0px
    padding-bottom 72px
    flex-direction row
    justify-content space-around
    z-index 20
  & .section__subtitle
    color white
    margin-bottom 5px
  & .section__title
    margin-bottom 20px
    color main__color
  &__img-wrapper
    transform scale(1.25)
  &__wrapper
    padding-top 60px
  &__send-btn
    align-self flex-start
    background main__color
    &:hover
      background black
      color white
    &:hover svg
      fill white
  & .form
    display flex
    flex-direction column
    &__item
      font-size 16px
      font-weight 500
      padding 10px 20px
      border-radius 36px
      margin-bottom 15px
      outline none
    &__services
      margin-bottom 30px
      padding 15px 20px

// секция вопросов (аккордеон)
.questions
  background url('../img/feedback/bg-dark.jpg') no-repeat
  background-attachment fixed
  background-size cover
  padding-bottom 150px
  position relative

last_item_color = rgba(0, 0, 0, 0.5)
.custom-accordion
  //background rgba(0, 0, 0, 0.0)
  color white
  font-family 'Sunflower', sans-serif
  padding-bottom 2rem
  & > .item
    padding 1rem 2rem
    margin 0 auto
    max-width 30rem
    //&:last-of-type
    //  text-align center
    //  border-radius 0.5rem
    //  & > .icon
    //    color #FFFFFF
    &:nth-of-type(6)
      padding-bottom 2rem
    & > .icon
      color #462521
      font-size 2rem
    & > .title
      font-size 1.5rem

//@media screen and (min-width: 800px) and (min-height: 270px)
.custom-accordion
  display table
  width 100%
  max-width 1200px
  margin 0 auto
  height 100vh
  max-height 350px
  overflow hidden
  padding-bottom 0
  & > .item
    display table-cell
    position relative
    height 100%
    padding 2rem 1rem
    text-align center
    transform-origin 0 50%
    transition all 0.5s cubic-bezier(0.8, 0.16, 0.42, 0.89)
    & .custom-accordion__item--active
      opacity 0.1
      z-index 11
    &:hover
      transform scaleX(2)
      box-shadow 0 0 3rem main__color
      //background main__color
      border-color transparent
      & + .item
        opacity 0.1
        //&:last-of-type
        //  opacity 0.1
        //  background #8A6552
      & > .icon
        transform scaleX(0.5)
      & > .title
        transform scaleX(0.5) translateX(-50%)
        background main__color
        text-align center
        padding 0
        & > .text
          transform translateX(-50%)
          left 50%
      & > .content
        opacity 1
    &:last-of-type
      transform-origin 100% 0
    //&:not(:last-of-type)
    //  border-right 1px solid #462521
    //&:last-of-type
    //  background last_item_color
    //  width 25%
    //  border-radius 0
    //  & > .title
    //    transform rotate(0) translateX(-50%) translateY(-2.5rem)
    //    padding 0
    //    text-align center
    //  & > .content
    //    opacity 1
    //    transform translateX(-50%) translateY(-50%)
    //  & .heart-icon
    //    font-size 6rem
    //&:hover:last-of-type .heart-icon
    //  transform scale(2)
    & > .icon
      font-weight 700
      font-size 2rem
      transition all 0.5s cubic-bezier(0.8, 0.16, 0.42, 0.89)
      color #FFFFFF
    & > .title
      position absolute
      bottom 0
      left 50%
      height 1.5rem
      width 200%
      text-align left
      transform-origin 0 50%
      transform rotate(-90deg)
      transition all 0.3s cubic-bezier(0.8, 0.16, 0.42, 0.89)
      font-size 1.2rem
      & > .text
        position absolute
        left 2rem
        bottom 0
        white-space nowrap
        transition all 0.5s cubic-bezier(0.8, 0.16, 0.42, 0.89)
    & > .content
      position absolute
      top 50%
      left 50%
      width 200%
      height auto
      transform translateX(-50%) translateY(-50%) scaleX(0.5)
      transition all 0.5s cubic-bezier(0.8, 0.16, 0.42, 0.89)
      opacity 0
      padding 1rem
      pointer-events none
.heart-icon
  color #CA2E55
  font-size 3rem
  transition all 0.5s cubic-bezier(0.8, 0.16, 0.42, 0.89)

.custom-accordion__item--active
  opacity 0.1
  z-index 11

// секция ФУТЕР
.footer
  display flex
  justify-content center
  background url('../img/footer/bg.png')
  color white
  & .section-wrapper
    padding-top 60px
    padding-bottom 10px
  & .section__description
    width 75%
    text-align center
    margin-bottom 70px
  &__copyright-wrapper
    width 100%
    display flex
    justify-content center
    align-items flex-end
  &__copyright
    font-size 12px
    width 45%
    font-style italic
  &__vector-logo
    width 50px
    height 50px
    transition all .3s ease
    cursor pointer
    &:hover
      transform scale(1.3)
  &__policy
    width 45%
    font-size 12px
    text-align end
    text-decoration underline
    &-ref
      transition all .3s ease
      &:hover
        color main__color
