@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/fira_sans/FiraSans-Regular.woff2") format('woff2');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/fira_sans/FiraSans-Medium.woff2") format('woff2');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/fira_sans/FiraSans-Bold.woff2") format('woff2');
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: 'Fira Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
ul,
li {
  display: block;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: 700;
}
input,
button,
textarea,
select {
  font: inherit;
}
html {
  scroll-behavior: smooth;
}
.btn {
  height: 50px;
  min-width: 150px;
  cursor: pointer;
  padding: 12px 60px 12px 40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 36px;
  color: #000;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}
.btn__ref {
  position: relative;
}
.btn__arrow {
  position: absolute;
  right: -25px;
  top: 15%;
}
.btn svg {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.section-wrapper {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
}
.section__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section__subtitle {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  color: #0070a5;
}
.section__title {
  margin-bottom: 15px;
  font-size: 48px;
  line-height: 48px;
}
.section__description {
  margin-bottom: 35px;
  font-size: 14px;
}
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contacts__wrapper {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 0;
  font-size: 14px;
}
.contacts__item {
  margin-left: 20px;
  margin-right: 50px;
  position: relative;
}
.contacts__item:before {
  content: "";
  position: absolute;
  top: 3px;
  width: 18px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
}
.contacts__telegram:before {
  left: -28px;
  background-image: url("../img/contacts/icon_tl.png");
}
.contacts__whatsapp:before {
  left: -25px;
  background-image: url("../img/contacts/icon_wa.png");
}
.contacts__adress:before {
  left: -20px;
  width: 22px;
  height: 22px;
  top: 1px;
  background-image: url("../img/contacts/icon_map.png");
}
.vertical-lines__wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.vertical-lines__center {
  height: 100%;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.vertical-lines__item {
  z-index: 10;
  height: 100%;
  width: 1px;
  background: rgba(112,112,112,0.3);
}
.moving-string {
  position: relative;
  width: 1200px;
}
.moving-string__text {
  position: absolute;
  padding: 50px 5px;
  font-weight: 700;
  font-size: 140px;
  line-height: 1em;
  color: rgba(112,112,112,0.8);
  bottom: 0;
  right: 100%;
  opacity: 0;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
}
.header:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30,30,30,0.7);
  z-index: 9;
}
.header .top-line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0,0,0,0.15);
  color: #fff;
  z-index: 10;
}
.header .top-line__wrapper {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}
.header .logo {
  width: 169px;
  height: 54px;
  cursor: default;
  padding-top: 10px;
  padding-left: 10px;
}
.header .logo__line1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 32px;
  font-weight: 800;
}
.header .logo__line2 {
  color: #0070a5;
  font-size: 12px;
  margin-top: -5px;
  font-weight: 500;
}
.header .nav {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}
.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .nav__item {
  margin-right: 30px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header .nav__item:after {
  content: '';
  position: absolute;
  top: 9px;
  right: -15px;
  width: 7px;
  height: 7px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header .nav__item:hover {
  color: #0070a5;
}
.header .nav__item:hover:after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  border-color: #0070a5;
}
.header__slide-1 {
  background: url("../img/header/slide_1.jpg");
}
.header__slide-2 {
  background: url("../img/header/slide_2.jpg");
}
.header__slide-3 {
  background: url("../img/header/slide_3.jpg");
}
.header__slide {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 4;
  opacity: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.header__slide--active-main {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 0.8s ease 0s, -webkit-transform 10s linear;
  transition: opacity 0.8s ease 0s, -webkit-transform 10s linear;
  transition: transform 10s linear, opacity 0.8s ease 0s;
  transition: transform 10s linear, opacity 0.8s ease 0s, -webkit-transform 10s linear;
  opacity: 1;
  z-index: 6;
}
.header__slide--active-bg {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 0.8s ease 0s, -webkit-transform 10s linear;
  transition: opacity 0.8s ease 0s, -webkit-transform 10s linear;
  transition: transform 10s linear, opacity 0.8s ease 0s;
  transition: transform 10s linear, opacity 0.8s ease 0s, -webkit-transform 10s linear;
  opacity: 1;
  z-index: 5;
}
.header__base {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  z-index: 10;
}
.header__vertical-text {
  padding: 150px 0 150px 0;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}
.header__vertical-text span {
  color: #0070a5;
}
.header__vertical-text:before {
  content: '';
  position: absolute;
  top: 0;
  left: 15px;
  width: 2px;
  height: 100px;
  background: #0070a5;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}
.header__title-wrapper {
  max-width: 900px;
  min-height: 80px;
  font-size: 56px;
  color: #fff;
  line-height: 1.3em;
  text-align: center;
}
.header__title {
  position: relative;
}
.header__running-text2-js {
  color: #0070a5;
}
.header__cursor--blinking {
  display: inline-block;
  position: absolute;
  -webkit-animation: ease 0.7s cursor-blinking infinite;
          animation: ease 0.7s cursor-blinking infinite;
}
.header__subtitle {
  max-width: 470px;
  text-align: center;
  color: #fff;
  margin-top: 30px;
  line-height: 22px;
  padding-left: 10px;
}
.header__social-net {
  padding-top: 40px;
  padding-right: 10px;
}
.header__social-net-item {
  width: 20px;
  margin-bottom: 50px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  display: block;
}
.header__social-net-item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.header__details-btn {
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  padding: 120px 80px 80px 0;
  position: relative;
}
.header__details-btn a {
  position: relative;
}
.header__details-btn a:after {
  content: '';
  position: absolute;
  right: -55px;
  top: 2px;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 5px solid #000;
  border-right: 5px solid #000;
  border-radius: 20%;
}
.header__details-btn a:before {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  top: -20px;
  right: -80px;
  border-radius: 50%;
  background: #0070a5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__details-btn:hover a:before {
  background: #fff;
}
.header__bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 100px 0;
  z-index: 10;
}
.header__bullets-item {
  width: 14px;
  height: 14px;
  background: #0070a5;
  border-radius: 50%;
  margin: 0 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__bullets-item--active {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  background: #fff;
}
.block-phone {
  width: 100%;
  height: 250px;
  background: url("../img/block-phone/phone-bg.png") 50% 50%, #0070a5;
  background-size: 200px auto;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 20;
}
.block-phone .section-wrapper {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
}
.block-phone .vertical-lines__item {
  border-left: 1px solid rgba(250,250,250,0.2);
}
.block-phone .vertical-lines__item:last-child {
  border-right: 1px solid rgba(250,250,250,0.2);
}
.block-phone__frame-left,
.block-phone__frame-right {
  width: 48%;
  height: 100%;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.block-phone__frame-left:before,
.block-phone__frame-right:before,
.block-phone__frame-left:after,
.block-phone__frame-right:after {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
}
.block-phone__frame-left:before,
.block-phone__frame-left:after {
  right: 0;
  border-right: 4px solid #000;
}
.block-phone__frame-left:before {
  top: 15%;
  border-top: 4px solid #000;
}
.block-phone__frame-left:after {
  bottom: 15%;
  border-bottom: 4px solid #000;
}
.block-phone__frame-right:before,
.block-phone__frame-right:after {
  left: 0;
  border-left: 4px solid #000;
}
.block-phone__frame-right:before {
  top: 15%;
  border-top: 4px solid #000;
}
.block-phone__frame-right:after {
  bottom: 15%;
  border-bottom: 4px solid #000;
}
.block-phone__promo {
  width: 500px;
  margin-right: 30px;
  display: block;
  text-align: center;
  font-size: 30px;
  line-height: 48px;
  font-weight: 800;
  color: #000;
  padding-left: 40px;
}
.block-phone__number {
  font-size: 60px;
  color: #fff;
}
.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.services__items-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.services__item {
  margin: 0 15px 30px 15px;
}
.services__contract-btn svg {
  fill: #0070a5;
}
.services__contract-btn:hover {
  background: #000;
  color: #fff;
}
.services .service {
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.services .service__wrapper-interior {
  width: 370px;
  min-height: 298px;
  background: rgba(0,112,165,0.07);
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 35px 45px;
  position: relative;
}
.services .service__wrapper-interior:after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
}
.services .service__img img {
  width: 76px;
  height: 80px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.services .service__img--tourist img {
  width: 90px;
}
.services .service__title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
}
.services .service__description {
  line-height: 1.6em;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/advantages/bg-dark.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.advantages__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 150px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 20;
}
.advantages__part {
  width: 30%;
}
.advantages__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.advantages__title {
  font-size: 30px;
  font-weight: 800;
  line-height: 1.3em;
  color: #fff;
}
.advantages__company-name {
  font-size: 30px;
  font-weight: 800;
  color: #0070a5;
  text-transform: uppercase;
  line-height: 1.3em;
  margin-top: 10px;
}
.advantages__description {
  font-size: 18px;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #fff;
}
.advantages__how-much-btn {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #0070a5;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.advantages__how-much-btn:hover {
  background: #fff;
}
.advantages .merit__title {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.3em;
  color: #0070a5;
}
.advantages .merit__img {
  border-radius: 16px;
  margin-bottom: 15px;
  position: relative;
  -o-object-fit: fill;
     object-fit: fill;
}
.advantages .merit__img img {
  border-radius: 16px;
}
.advantages .merit__img:after {
  content: '';
  position: absolute;
  width: 80%;
  height: 3px;
  bottom: -2px;
  left: 10%;
  background: #0070a5;
}
.report {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0070a5;
}
.report__item {
  width: 33%;
  height: 100%;
  background: #0070a5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.report__item:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.05)));
  background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 100%);
}
.report__number {
  font-size: 72px;
  line-height: 1em;
  color: #fff;
  font-weight: 800;
}
.report__title {
  margin-top: 10px;
  font-size: 16px;
  line-height: 22px;
}
.tariffs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tariffs__items-wrapper {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 30px;
}
.tariffs__item {
  margin: 0 15px;
}
.tariffs .tariff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 45px 35px 45px;
  background: rgba(0,112,165,0.07);
  border-radius: 16px;
}
.tariffs .tariff__title {
  font-size: 18px;
  font-weight: 800;
  color: #0070a5;
}
.tariffs .tariff__price {
  margin-top: 8px;
  margin-bottom: 35px;
}
.tariffs .tariff__currency {
  font-size: 30px;
  font-weight: 800;
}
.tariffs .tariff__value {
  font-size: 48px;
  font-weight: 800;
}
.tariffs .tariff__list-services {
  margin-bottom: 20px;
}
.tariffs .tariff__service {
  font-size: 14px;
}
.tariffs .tariff__service--uncheck,
.tariffs .tariff__service--check {
  position: relative;
}
.tariffs .tariff__service--uncheck:before,
.tariffs .tariff__service--check:before {
  content: '';
  position: absolute;
  left: -30px;
  top: 20%;
}
.tariffs .tariff__service--uncheck:before {
  width: 15px;
  height: 15px;
  background: url("../img/tariffs/icon-uncheck.svg") 50% 50% no-repeat;
}
.tariffs .tariff__service--check:before {
  width: 15px;
  height: 15px;
  background: url("../img/tariffs/icon-check.svg") 50% 50% no-repeat;
}
.tariffs .tariff__contract-btn {
  margin: 25px 20px 0 20px;
  background: #0070a5;
}
.tariffs .tariff__contract-btn svg {
  fill: #000;
}
.tariffs .tariff__contract-btn:hover {
  background: #000;
  color: #fff;
}
.tariffs .tariff__contract-btn:hover svg {
  fill: #fff;
}
.best-tariff.tariff {
  background: url("../img/tariffs/best-tariff-bg.png") 50% 50% no-repeat rgba(0,0,0,0.85);
}
.best-tariff .tariff__title {
  color: #ae4c1c;
}
.best-tariff .tariff__currency {
  color: #fff;
  font-size: 48px;
}
.best-tariff .tariff__value {
  color: #fff;
  font-size: 72px;
}
.best-tariff .tariff__list-services {
  color: #fff;
}
.best-tariff .tariff__contract-btn {
  background: #ae4c1c;
  color: #fff;
}
.best-tariff .tariff__contract-btn svg {
  fill: #fff;
}
.best-tariff .tariff__contract-btn:hover {
  background: #fff;
  color: #000;
}
.best-tariff .tariff__contract-btn:hover svg {
  fill: #000;
}
.feedback {
  background: url("../img/feedback/bg-dark.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  position: relative;
}
.feedback .section-wrapper {
  width: 1200px;
  padding-top: 0px;
  padding-bottom: 72px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 20;
}
.feedback .section__subtitle {
  color: #fff;
  margin-bottom: 5px;
}
.feedback .section__title {
  margin-bottom: 20px;
  color: #0070a5;
}
.feedback__img-wrapper {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}
.feedback__wrapper {
  padding-top: 60px;
}
.feedback__send-btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
  background: #0070a5;
}
.feedback__send-btn:hover {
  background: #000;
  color: #fff;
}
.feedback__send-btn:hover svg {
  fill: #fff;
}
.feedback .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.feedback .form__item {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 36px;
  margin-bottom: 15px;
  outline: none;
}
.feedback .form__services {
  margin-bottom: 30px;
  padding: 15px 20px;
}
.questions {
  background: url("../img/feedback/bg-dark.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 150px;
  position: relative;
}
.custom-accordion {
  color: #fff;
  font-family: 'Sunflower', sans-serif;
  padding-bottom: 2rem;
}
.custom-accordion > .item {
  padding: 1rem 2rem;
  margin: 0 auto;
  max-width: 30rem;
}
.custom-accordion > .item:nth-of-type(6) {
  padding-bottom: 2rem;
}
.custom-accordion > .item > .icon {
  color: #462521;
  font-size: 2rem;
}
.custom-accordion > .item > .title {
  font-size: 1.5rem;
}
.custom-accordion {
  display: table;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  max-height: 350px;
  overflow: hidden;
  padding-bottom: 0;
}
.custom-accordion > .item {
  display: table-cell;
  position: relative;
  height: 100%;
  padding: 2rem 1rem;
  text-align: center;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition: all 0.5s cubic-bezier(0.8, 0.16, 0.42, 0.89);
  transition: all 0.5s cubic-bezier(0.8, 0.16, 0.42, 0.89);
}
.custom-accordion > .item .custom-accordion__item--active {
  opacity: 0.1;
  z-index: 11;
}
.custom-accordion > .item:hover {
  -webkit-transform: scaleX(2);
          transform: scaleX(2);
  -webkit-box-shadow: 0 0 3rem #0070a5;
          box-shadow: 0 0 3rem #0070a5;
  border-color: transparent;
}
.custom-accordion > .item:hover + .item {
  opacity: 0.1;
}
.custom-accordion > .item:hover > .icon {
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
}
.custom-accordion > .item:hover > .title {
  -webkit-transform: scaleX(0.5) translateX(-50%);
          transform: scaleX(0.5) translateX(-50%);
  background: #0070a5;
  text-align: center;
  padding: 0;
}
.custom-accordion > .item:hover > .title > .text {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}
.custom-accordion > .item:hover > .content {
  opacity: 1;
}
.custom-accordion > .item:last-of-type {
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}
.custom-accordion > .item > .icon {
  font-weight: 700;
  font-size: 2rem;
  -webkit-transition: all 0.5s cubic-bezier(0.8, 0.16, 0.42, 0.89);
  transition: all 0.5s cubic-bezier(0.8, 0.16, 0.42, 0.89);
  color: #fff;
}
.custom-accordion > .item > .title {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 1.5rem;
  width: 200%;
  text-align: left;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all 0.3s cubic-bezier(0.8, 0.16, 0.42, 0.89);
  transition: all 0.3s cubic-bezier(0.8, 0.16, 0.42, 0.89);
  font-size: 1.2rem;
}
.custom-accordion > .item > .title > .text {
  position: absolute;
  left: 2rem;
  bottom: 0;
  white-space: nowrap;
  -webkit-transition: all 0.5s cubic-bezier(0.8, 0.16, 0.42, 0.89);
  transition: all 0.5s cubic-bezier(0.8, 0.16, 0.42, 0.89);
}
.custom-accordion > .item > .content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%) scaleX(0.5);
          transform: translateX(-50%) translateY(-50%) scaleX(0.5);
  -webkit-transition: all 0.5s cubic-bezier(0.8, 0.16, 0.42, 0.89);
  transition: all 0.5s cubic-bezier(0.8, 0.16, 0.42, 0.89);
  opacity: 0;
  padding: 1rem;
  pointer-events: none;
}
.heart-icon {
  color: #ca2e55;
  font-size: 3rem;
  -webkit-transition: all 0.5s cubic-bezier(0.8, 0.16, 0.42, 0.89);
  transition: all 0.5s cubic-bezier(0.8, 0.16, 0.42, 0.89);
}
.custom-accordion__item--active {
  opacity: 0.1;
  z-index: 11;
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../img/footer/bg.png");
  color: #fff;
}
.footer .section-wrapper {
  padding-top: 60px;
  padding-bottom: 10px;
}
.footer .section__description {
  width: 75%;
  text-align: center;
  margin-bottom: 70px;
}
.footer__copyright-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.footer__copyright {
  font-size: 12px;
  width: 45%;
  font-style: italic;
}
.footer__vector-logo {
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.footer__vector-logo:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.footer__policy {
  width: 45%;
  font-size: 12px;
  text-align: end;
  text-decoration: underline;
}
.footer__policy-ref {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__policy-ref:hover {
  color: #0070a5;
}
@-webkit-keyframes cursor-blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cursor-blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
